<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="title">
        <h1>{{ title }}</h1>
    </div>
    <div class="container mt-5">

        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    
    {% block content %}



    {% endblock %}
    </div>
</body>
</html>