{% extends 'base.html' %}

{% block content %}

    <form method="POST" action="/admin/login">

        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        {% for field in form if field.widget.input_type != 'hidden' %}

            {{ field(placeholder=field.label.text, class="form-control") }}

            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <br>
        {% endfor %}

        <input type="submit" class="btn btn-info" value="Login">
        <br><br>
        <a href="/admin/reset_password">Forgot your password?</a>
    </form>

{% endblock %}